.page {
    --primary-color: rgb(72, 4, 72);
    --border-color: rgb(64, 60, 71);
    padding: 0 1rem;
}

.page button {
    background: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px #0003,0 2px 2px #00000024,0 1px 5px #0000001f;
    color: rgb(30, 30, 30);
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 2.5em;
    margin: 0;
    padding: 0 1rem;
    user-select: none;
    text-decoration: none;
    vertical-align: baseline;
}

.page button:not(:last-of-type) {
    margin-right: 0.5rem;
}

.page button.primaryBtn {
    background: var(--primary-color);
    color: white;
}

.page dialog {
    border: 0.125rem solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px #0003,0 24px 38px 3px #00000024,0 9px 46px 8px #0000001f;
    font-size: 1rem;
    max-width: min(18rem, 90vw);
}

.page dialog::backdrop {
    background: rgba(36, 32, 20, 0.5);
    backdrop-filter: blur(0.25rem);
}

.page dialog h3 {
    color: var(--primary-color);
    margin-top: 0;
}

.page dialog p {
    font-size: 0.9em;
}

.page dialog div.formField {
    display: flex;
    align-items: center;
}

.page dialog div.formField:not(:last-child) {
    margin-bottom: 0.5rem;
}

.page dialog label {
    color: var(--primary-color);
    flex: 1 1 0rem;
    font-size: 0.9em;
    margin-right: 0.5rem;
}

.page dialog select,
.page dialog input[type="text"] {
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    color: black;
    padding: 0.35rem;
    text-align: left;
    width: 9rem;
}

.page dialog .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
