header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: #282c34;
    color: white;
    width: 100%;
    padding: 1rem;
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.86);
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.86);
}

header a img {
    height: 2rem;
    width: 2rem;
}
header a:hover img {
    opacity: 0.7;
}

header h1 {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 1.4rem;
}

main {
    min-height: calc(100vh - 5rem);
    padding-top: 5rem;
}

.default-container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.default-container.no-center {
    margin: 0;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-box p {
    padding: 1rem;
    border: 2px solid black;
}
.info-box a[href] {
    font-weight: bold;
}

.code {
    background-color: #eee;
    font-family: monospace;
    font-style: italic;
    font-size: 1.15em;
    letter-spacing: 0.025em;
    padding: 0 0.25rem;
}

a, a:visited {
    color: rgb(13, 63, 13);
}

li {
    line-height: 1.5;
}
