* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(90deg, rgba(40,44,52,1) 0%, rgba(55,80,129,1) 100%);
    color: white;
    width: 100%;
    padding: 0.5rem 1rem;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.86);
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.86);
}

header a {
    display: grid;
    place-content: center;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 1;
    height: 3rem;
    width: 3rem;
}

header a img {
    height: 2rem;
    width: 2rem;
}

header a:hover {
    background: rgb(79, 87, 102);
}

header h1 {
    margin: 0;
    font-size: 1.4rem;
}

main {
    min-height: calc(100vh - 5rem);
    padding-top: 5rem;
}

.default-container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.default-container.no-center {
    margin: 0;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-box p {
    padding: 1rem;
    border: 2px solid black;
}
.info-box a[href] {
    font-weight: bold;
}

.code {
    background-color: #eee;
    font-family: monospace;
    font-style: italic;
    font-size: 1.15em;
    letter-spacing: 0.025em;
    padding: 0 0.25rem;
}

a, a:visited {
    color: rgb(13, 63, 13);
}

li {
    line-height: 1.5;
}

:where(p.feature-hint) {
    padding: 1rem 0.5rem;
    border: 0.5rem dashed rgb(27, 92, 27);
    font-size: 1.1rem;
    text-align: center;
}
